:root{
    --button: rgb(54, 26, 2);
    --hover: rgb(112, 55, 5);
    --active: rgb(183, 126, 76);
    --lightText: rgb(243, 240, 226);
    --darkText: rgb(35, 18, 3);
}
html{
    background:
        linear-gradient(to bottom, 
        rgba(129, 101, 65, 0.5), 
        rgba(206, 196, 170, 0.5),
        rgba(241, 237, 227, 0.5), 
        rgba(206, 196, 170, 0.5),
        rgba(129, 101, 65, 0.5)),
        url('Images/paperTexture.jpg');
    background-size: cover;
    background-position: center;        
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-family: "Baskerville SC", serif;
}

form{
    border: 5px double rgba(128, 128, 128, 0.5);
    background: transparent;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 80%;
}
fieldset{
    border: 5px double rgba(128, 128, 128, 0.3);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}
legend{
    color: var(--darkText);
    text-align: center;
    font-weight: bold;
}

.footer_div{
    text-align: center;
    border-top: 5px double rgba(128, 128, 128, 0.5);
    margin: 20px;
    color: var(--darkText);
    text-shadow: 3px 3px 3px var(--lightText), -3px -3px 3px var(--lightText);
    text-decoration: none;
    padding-bottom: 10px;
}
.footer_div a{
    color: var(--darkText);
    text-shadow: 3px 3px 3px var(--lightText), -3px -3px 3px var(--lightText);
    text-decoration: none;

}

.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}
  
button{
    border-radius: 5px;
    background-color: var(--button);
    font-family: "Baskerville SC";
    color: var(--lightText);
    height: 30px;
    width: 200px;
    transition: background-color 0.5s;
}
button:hover{
    background-color: var(--hover);
}
button:active{
    background-color: var(--active);
}

.navbar_div{
    border-bottom: 5px double rgba(128, 128, 128, 0.5);
    padding: 10px;
    margin: auto;
    text-align: center;
}

.navBtn{
    width: 30%;
}

::placeholder{
    font-family: "Baskerville SC", serif;
    text-align: center;
}